---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="contents">
    <table>
      <tr>
        <td><img class="preview" src="/assets/table1.png"></td>
        <td><img class="preview" src="/assets/table4.png"></td>
        <td><img class="preview" src="/assets/table2.png"></td>
        <td><img class="preview" src="/assets/table3.png"></td>
      </tr>
      <tr>
        <td><b>Была спроектирована зона отдыха с барбекю печью</b></td>
        <td><b>Была спроектирована зона отдыха с большой беседкой</b></td>
        <td><b>На территории находится аллея, которая требовала реставрации</b></td>
        <td><b>Была спроектирована зона ожидания перед поликлиникой</b></td>
      </tr>
    </table>
  </div>
</div>
